@import "tailwindcss";
@import 'aos/dist/aos.css';
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  overflow-x:hidden !important;
}

body {
  overflow-x: hidden !important;
  font-family: Arial, Helvetica, sans-serif;
}


.hero-banner {
  background: url('./../public/banner.png') no-repeat center center fixed;
  background-size: 100% 100%;

}

.project{
  background: url('./../public/news.png') no-repeat center center ;
  background-size: 100% 100%;

}
.seo{
  background: url('./../public/seo-bg/seo-bg.png') center ;
  background-size:cover;

}

.web{
  background: url('./../public/web-bg.png') center ;
  background-size:cover;

}

.slick-slide {
  padding: 0 10px; /* gap between slides */
  box-sizing: border-box;
}

.slick-list {
  margin: 0 -10px; /* balance outer spacing */
}


.graphic{
  background: url('./../public/graphic/milad-fakurian-pP5gt6Qbzig-unsplash.png') center ;
  background-size:cover;

}
.repo{
  background: url('./../public/reputation/giorgio-tomassetti-mTslIt14OUo-unsplash.png') center ;
  background-size:cover;
}
.google{
  background: url('./../public/google/Group\ 163432.png') center ;
  background-size:cover;
}
.social{
  background: url('./../public/social/Group\ 163473@2x.png') center ;
  background-size:cover;
}

.web{
  background: url('./../public/web-bg.png') center ;
  background-size:cover;
}
.email{
  background: url('./../public/email.png') center ;
  background-size:cover;
}

.sidenav{
  background: url('./../public/mobile-bav.svg') center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}


/* Scrollbar ki width set karne ke liye */
::-webkit-scrollbar {
  width: 10px; /* Vertical scrollbar ki chaurai */
  height: 10px; /* Horizontal scrollbar ki unchai */
}

/* Scrollbar ka background track */
::-webkit-scrollbar-track {
  background: white; 
  border-radius: 5px;
}

/* Scrollbar ka handle (jo move hota hai) */
::-webkit-scrollbar-thumb {
  background: #662C6D; 
  border-radius: 2px; /* Isse scroll bar rounded ho jayega */
  border: 2px solid #f1f1f1; /* Handle aur track ke darmiyan halka gap */
}

/* Scrollbar handle par hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #4a204f; /* Hover karne par thoda dark color */
}

/* Scrollbar ke buttons (arrows) ko hide karne ke liye */
::-webkit-scrollbar-button {
  display: none;
}